<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Inicio | Naica</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://naica.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"><link rel="stylesheet" href="./static/css/index.css">
    <meta name="Keywords" content="Naica, Naica México, Naica Capital Enterprise, Naica Capital Business, Naica Capital Expansion, Crédito, Finanzas, Préstamo, Empresas">
    <meta name="description" content="Naica finanzas es una empresa mexicana que ofrece servicios financieros especializados para personas físicas y morales, pequeñas y medianas empresas. Su propósito es brindar soluciones de crédito, factoring, leasing y seguros que impulsen el crecimiento y la competitividad de sus clientes. Con sede en la Ciudad de México y presencia en Morelos.">
    <meta name="facebook-domain-verification" content="300105919634103">
    <meta property="og:title" content="Naica Capital">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://naica.com/">
    <meta property="og:description" content="Naica finanzas es una empresa mexicana que ofrece servicios financieros especializados para personas físicas y morales, pequeñas y medianas empresas. Su propósito es brindar soluciones de crédito, factoring, leasing y seguros que impulsen el crecimiento y la competitividad de sus clientes. Con sede en la Ciudad de México y presencia en Morelos.">
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '300105919634103');
        fbq('track', 'PageView');
    </script>
    <noscript><img alt="" height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=300105919634103&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNYWESR0XP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNYWESR0XP');
</script>

<!-- partial:index.partial.html -->
</a><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

  <body id="naicaweb">
    <a id="chat-circle" class="btn btn-raised" href="https://api.whatsapp.com/send?phone=5215545284007&text=Hola,%20me%20gustar%C3%ADa%20recibir%20m%C3%A1s%20informaci%C3%B3n%20de%20Naica%20y%20sus%20productos">
         
          <i class="fa-brands fa-whatsapp"></i>
    </a>
   
    <div class="naicanavegacion">
      <div class="naicainterior">
        <div class="naicalogo"><a href="{{ url_for('index') }}"><img src="https://images2.imgbox.com/c7/1a/xWAmMlIZ_o.png"/></a></div>
        <div class="naicaenlaces">
            <a href="{{ url_for('nosotros') }}" class="enlace movimiento">Nosotros</a>
          <a href="{{ url_for('contacto') }}" class="enlace movimiento">Contacto</a>
          <a href="https://portal.naica.com" class="enlace movimiento">Acceso</a>
        </div>
      </div>
    </div>
    <div class="naicabanner">
      <div class="naicatop">
      <div class="naicatitulo"><n>activando el</n><m>valor</m><o>de las empresas</o></div>
      <div class="naicatarjeta"><img src="https://images2.imgbox.com/27/7e/37Si6Fht_o.jpg" alt=""/></div></div>
    </div>
     
    <div style="height: 100vh; background: #000">
  <!-- start of hero -->
  <section class="hero-slider hero-style">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" data-background="{{ url_for('static', filename='img/img_naica_capital_enterprise.jpg') }}">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>NAICA CAPITAL ENTERPRISE</h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>Crédito simple para personas morales</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="#" class="theme-btn-s2" style="display: none">Contrata ahora</a>
                <a href="#" class="theme-btn-s3" style="display: none"><i class="fas fa-chevron-circle-right"></i> Más información</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
  
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" data-background="{{ url_for('static', filename='img/img_naica_capital_business.jpg') }}">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>NAICA CAPITAL BUSINESS</h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>Crédito simple para personas morales</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="#" class="theme-btn-s2" style="display: none">Contrata ahora</a>
                <a href="#" class="theme-btn-s3" style="display: none"><i class="fas fa-chevron-circle-right"></i>Más información</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
       
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" data-background="{{ url_for('static', filename='img/img_naica_capital_expansion.jpg') }}">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2>NAICA CAPITAL EXPANSION</h2>
              </div>
              <div data-swiper-parallax="400" class="slide-text">
                <p>Crédito simple para personas físicas</p>
              </div>
              <div class="clearfix"></div>
              <div data-swiper-parallax="500" class="slide-btns">
                <a href="#" class="theme-btn-s2" style="display: none">Contrata ahora</a>
                <a href="#" class="theme-btn-s3" style="display: none"><i class="fas fa-chevron-circle-right"></i>Más información</a>
              </div>
            </div>
          </div>
          <!-- end slide-inner -->
        </div>
        <!-- end swiper-slide -->
      </div>
      <!-- end swiper-wrapper -->
  
      <!-- swipper controls -->
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <!-- end of hero slider --></div>
    <div class="cuadrocomparativo">
      <div class="cuadrotitulo">Encuentra un crédito a tu medida</div>
      <div class="productosnaica">
    <table align="center">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Naica Capital Enterprise</th>
        <th>Naica Capital Business</th>
        <th>Naica Capital Expansion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><div class="productotipo">Tipo de persona</div></td>
        <td>Moral</td>
        <td>Moral</td>
        <td>Física</td>
      </tr>
      <tr>
        <td><div class="productotipo">Tipo de crédito</div></td>
        <td>Simple</td>
        <td>Simple</td>
        <td>Simple</td>
      </tr>
      <tr>
        <td><div class="productotipo">Monto mínimo</div></td>
        <td>$1,000,000.00</td>
        <td>$100,000.00</td>
        <td>$10,000.00</td>
      </tr>
      <tr>
        <td><div class="productotipo">Tasa mínima</div></td>
        <td>19%</td>
        <td>19%</td>
        <td>30%</td>
      </tr>
      <tr>
        <td><div class="productotipo">Tasa de interés máxima anual</div></td>
        <td>70%</td>
        <td>70%</td>
        <td>70%</td>
      </tr>
      <tr>
        <td><div class="productotipo">Comisión por apertura</div></td>
        <td>5% sobre el monto de crédito pagadera al momento de la firma del contrato de crédito y anexos</td>
        <td>5% sobre el monto de crédito pagadera al momento de la firma del contrato de crédito y anexos</td>
        <td>3% sobre el monto de crédito pagadera al momento de la firma del contrato de crédito y anexos</td>
      </tr>
    </tbody>
    </table>
    </div>
    </div>
   
     <div class="naicainformacion">
       <div class="naicafoot">
     <img src="https://images2.imgbox.com/c7/1a/xWAmMlIZ_o.png" alt=""/>
         <span style="font-family: montserrat">Av. Paseo de la Reforma 505 Piso 15, Cuauhtémoc, CDMX CP. 06500</span>
         <o><a href="https://www.facebook.com/naica.holding/"><i class="fa-brands fa-square-facebook"></i></a><a href="https://www.instagram.com/gruponaica/"><i class="fa-brands fa-square-instagram"></i></a><a href="https://www.linkedin.com/company/naicatechnologies"><i class="fa-brands fa-linkedin"></i></a></o></div>
       <div class="footerlogos"><img src="https://images2.imgbox.com/a4/9b/jZ9rAfYa_o.png" alt=""/><img src="https://images2.imgbox.com/b7/87/i1Mr6KMf_o.png" alt=""/><img src="https://images2.imgbox.com/53/f6/pVS4swvF_o.png" alt=""/><img src="https://images2.imgbox.com/bc/b7/DKfo8uM9_o.png" alt=""/></div>
    </div>
    <div class="copynaica">© COPYRIGHT 2032</div>
  </body><script src="https://kit.fontawesome.com/acccb6e668.js" crossorigin="anonymous"></script>
  <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script><script  src="./static/js/index.js"></script>
  
  </body>
  </html>
  