<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Inicio | Naica</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="canonical" href="https://naica.com/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"><link rel="stylesheet" href="./static/css/nosotros.css">
    <meta name="Keywords" content="Naica, Naica México, Naica Capital Enterprise, Naica Capital Business, Naica Capital Expansion, Crédito, Finanzas, Préstamo, Empresas">
    <meta name="description" content="Naica finanzas es una empresa mexicana que ofrece servicios financieros especializados para personas físicas y morales, pequeñas y medianas empresas. Su propósito es brindar soluciones de crédito, factoring, leasing y seguros que impulsen el crecimiento y la competitividad de sus clientes. Con sede en la Ciudad de México y presencia en Morelos.">
    <meta name="facebook-domain-verification" content="300105919634103">
    <meta property="og:title" content="Naica Capital">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://naica.com/">
    <meta property="og:description" content="Naica finanzas es una empresa mexicana que ofrece servicios financieros especializados para personas físicas y morales, pequeñas y medianas empresas. Su propósito es brindar soluciones de crédito, factoring, leasing y seguros que impulsen el crecimiento y la competitividad de sus clientes. Con sede en la Ciudad de México y presencia en Morelos.">
    <!-- Meta Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '300105919634103');
        fbq('track', 'PageView');
    </script>
    <noscript><img alt="" height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=300105919634103&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->	
<script src="https://kit.fontawesome.com/acccb6e668.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NNYWESR0XP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-NNYWESR0XP');
  </script>
  <!-- partial:index.partial.html -->
</a><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
  <div class="naicanavegacion">
      <div class="naicainterior">
      <div class="naicalogo"><a href="{{ url_for('index') }}"><img src="https://images2.imgbox.com/c7/1a/xWAmMlIZ_o.png"/></a></div>      <div class="naicaenlaces">
        <a href="{{ url_for('nosotros') }}" class="enlace movimiento">Nosotros</a>
        <a href="{{ url_for('contacto') }}" class="enlace movimiento">Contacto</a>
        <a href="{{ url_for('login') }}" class="enlace movimiento">Acceso</a>
        </div>
      </div>
    </div><div class="naicavalores" style="background-image: url(https://images2.imgbox.com/db/c8/K7AAvigf_o.jpg)"></div>
  <div class="nombrenaica">
    <div class="nombreinside">
      <div class="cajanombre">Nuestro nombre</div>
      <div class="cajatexto">
  Las características de Naica y nuestro
  gusto, práctica y adopción de la filosofía que se
  desprende de la espeleología, es la idea sobre la
  que fundamentamos nuestra empresa.<br><br>
  En Naica, nos impulsa la exploración en equipo
  y colaborativa de caminos disruptivos para
  desarrollar inteligencia tecnológica, y con ello
  descubrir y activar el valor de las empresas
  y las personas dentro de ellas.</div>
    </div>
  </div>
  <div class="naicasinergia">
    <div class="sinergiainfo">
      <line></line>
      <m>Sinergia</m>
      <n>que da vida a un vínculo de cooperación, comunicación, confianza, esfuerzo y resultados, por medio de nuestro servicio personalizado y tecnológico que transforma experiencias.</n>
    </div>
  </div>
  <div class="naicavalor">
    <div class="valorinfo">
      <line></line>
      <m>Valor</m>
      <n>humanitario que refleja la importancia de conectar con las ideas, haciendo especial cada entorno y momento para generar más y mejores resultados.</n>
    </div>
  </div>
  <div class="naicanosotros">
    <div class="nosotrosinfo">servicio a tu medida y tus necesidades</div>
  </div>
  <div class="experiencias">
    <div class="expmid">
    <div class="expnombre">experiencias</div>
    <div class="experiencia1"></div>
    <div class="experiencia2"></div>
    </div>
  </div>
  <div class="naicainformacion">
       <div class="naicafoot">
     <img src="https://images2.imgbox.com/c7/1a/xWAmMlIZ_o.png" alt=""/>
         <span style="font-family: montserrat">Av. Paseo de la Reforma 505 Piso 15, Cuauhtémoc, CDMX CP. 06500</span>
          <o><a href="https://www.facebook.com/naica.holding/"><i class="fa-brands fa-square-facebook"></i></a><a href="https://www.instagram.com/gruponaica/"><i class="fa-brands fa-square-instagram"></i></a><a href="https://www.linkedin.com/company/naicatechnologies"><i class="fa-brands fa-linkedin"></i></a></o></div>
       <div class="footerlogos"><img src="https://images2.imgbox.com/a4/9b/jZ9rAfYa_o.png" alt=""/><img src="https://images2.imgbox.com/b7/87/i1Mr6KMf_o.png" alt=""/><img src="https://images2.imgbox.com/53/f6/pVS4swvF_o.png" alt=""/><img src="https://images2.imgbox.com/bc/b7/DKfo8uM9_o.png" alt=""/></div>
    </div>
    <div class="copynaica">© COPYRIGHT 2032</div>
  <!-- partial -->
    
  </body>
  </html>
  